@import "tailwindcss";
/* @import "tailwindcss/preflight";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */


.active-nav {
  @apply font-bold hover:text-armsjobslightblue hover:cursor-pointer relative before:content-[''] before:absolute before:block before:w-full before:h-[3px] before:rounded before:-bottom-[1.17rem] before:left-0 before:bg-[#5BA9C6] before:hover:scale-x-100 before:scale-x-0 before:origin-top-left before:transition before:ease-in-out before:duration-300;
}

.active-nav.active {
  @apply text-armsjobslightblue cursor-pointer before:scale-x-100 transition-all hover:transition-all;
}

.radio-armsjobslightblue {
  @apply text-armsjobslightblue focus:ring-armsgrey;
  /* Example */
}




@theme {

  /* --container-container: */
  /* --background-SignInBgImg: url('assets/images/signInBgImg.webp'); */
  --color-main: #2A5983;
  --color-armsjobslightblue: #5BA9C6;
  --color-armsWhite: #FFFFFF;
  --color-armsBlack: #000000;
  --color-armsgray: #656768;
  --color-armsgrey: #ACACAC;
  --color-armshrgrey: #707070;
  --color-armsAsh: #0000005e;
  /* --color-mindfulgrey: #ACACAC;
  --color-mindfulAsh: #707070; */

}